/* body */
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=MedievalSharp&family=Medula+One&display=swap");
.ayudin, .agradecimiento, .subtitulo, h1, .titulo-principal {
  font-family: "Black Ops One", system-ui;
  font-size: 2.5em;
}

.logotravel, .logo, .logo-sabores {
  width: 300px;
  border-radius: 10px;
}

.verdes, .subtitulo, h1 {
  color: #004d40;
  margin-bottom: 30px;
}

body {
  font-family: "MedievalSharp", cursive;
  background-image: url(../Imagen/copos-de-nieve-wikimedia-commons.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: blue;
}

/* header */
header {
  background-color: #1D3557;
  padding: 20px 0;
  text-align: center;
}

.PapaFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.FlexHijo {
  width: 110px;
  height: 50px;
  border: solid black 3px;
  background-color: white;
}

.titulo-principal {
  color: #F1FAEE;
  text-align: center;
}

.logo-contenedor {
  margin-top: 15px;
}

.logo {
  border: 10px inset blue;
}

.logo-sabores {
  border: 10px inset rgb(5, 142, 183);
}

.frase {
  color: #A8DADC;
  margin-top: 10px;
  font-size: 1.2em;
}

.accordion-body {
  color: #A8DADC;
}

/* main */
main {
  background-color: rgba(168, 218, 220, 0.9019607843);
  padding: 20px 10px;
  text-align: center;
}

h1 {
  font-size: 1.8em;
}

.sabores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.boton {
  background-color: #82d4fa;
  color: #004d40;
  padding: 15px 25px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton:hover {
  background-color: #4fc3f7;
  transform: scale(1.05);
}

ul {
  color: #2D2D2D;
  list-style: none;
  font-size: 2em;
  padding: 15px 15px;
  line-height: 2;
}

.listado {
  display: flex;
  margin: 150px;
  gap: 900px;
}

.lineal {
  font-family: "Black Ops One", system-ui;
  color: #4A8FA1;
  background-color: #D9F3F5;
  padding: 15px 15px;
}

.letra {
  color: black;
  font-size: 1.8em;
}

/* footer */
footer {
  background-color: #F1FAEE;
  color: #2D2D2D;
  padding: 40px;
  text-align: center;
}

/* MediaQ */
@media only screen and (min-width: 320px) and (max-width: 390px) {
  header {
    font-size: 0.5;
  }
  main {
    font-size: 0.5;
    background-color: rgba(168, 218, 220, 0.9019607843);
  }
  .listado {
    display: contents;
  }
  footer {
    font-size: 0.5;
  }
}
/* PC 1200 */
@media only screen and (min-width: 769px) and (max-width: 1279px) {
  header {
    font-size: 0.5;
  }
  main {
    font-size: 0.5s;
    background-color: rgba(168, 218, 220, 0.9019607843);
  }
  .listado {
    display: flex;
    gap: 300px;
  }
  footer {
    font-size: 0.5;
  }
}
/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  header {
    font-size: 0.5;
  }
  main {
    font-size: 0.5;
    background-color: rgba(168, 218, 220, 0.9019607843);
  }
  .listado {
    display: contents;
  }
  footer {
    font-size: 0.5;
  }
}

/*# sourceMappingURL=estilo.css.map */
