@use "variables" as*;


body {
  font-family: 'MedievalSharp', cursive;
  background-image: url(../Imagen/copos-de-nieve-wikimedia-commons.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: blue;
}