@use "variables" as*;


@media only screen and (min-width:320px) and (max-width: 390px){
  header{
    font-size: 0.5;
  }

  main{
    font-size: 0.5;
    background-color: $celeste;
  }

  .listado{
  display:contents;
  }

  footer{
    font-size: 0.5;
  }
}

/* PC 1200 */

@media only screen and (min-width:769px) and (max-width: 1279px){
  header{
    font-size: 0.5;
  }

  main{
    font-size: 0.5s;
    background-color: $celeste;
  }

  .listado{
  display:flex;
  gap: 300px;
  }


  footer{
    font-size: 0.5;
  }
}

/* TABLET */

@media only screen and (min-width:481px) and (max-width: 768px){
  header{
    font-size: 0.5;
  }

  main{
    font-size: 0.5;
    background-color: $celeste;
  }

  .listado{
  display:contents;
  }

  footer{
    font-size: 0.5;
  }
}