@use "variables" as*;

footer {
  background-color: #F1FAEE;
  color: #2D2D2D;
  padding: 40px;
  text-align: center;
}

.agradecimiento {
  font-family: "Black Ops One", system-ui;
  font-size: 2.5em;
  margin: 0;
}