// INDEX
@use "variables" as*;

header {
  background-color: #1D3557;
  padding: 20px 0;
  text-align: center;
}

.PapaFlex{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.FlexHijo{
  width: 110px;
  height: 50px;
  border: solid black 3px;
  background-color: white;
}

.titulo-principal {
  @extend .ayudin;
  color: #F1FAEE;
  text-align: center;
}

.logo-contenedor {
  margin-top: 15px;
}

.logo {
  @extend .logotravel;
  border: 10px inset blue;
}

.logo-sabores {
  @extend .logotravel;
  border: 10px inset rgb(5, 142, 183);
}

.frase {
  color: #A8DADC;
  margin-top: 10px;
  font-size: 1.2em;
}
