@use "variables" as*;

main {
  background-color: $celeste;
  padding: 20px 10px;
  text-align: center;
} 

.subtitulo {
  @extend .ayudin;
  @extend .verdes;
}

h1{
  @extend .ayudin;
  @extend .verdes;
  font-size: 1.8em;
}


.sabores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.boton {
  background-color: #82d4fa;
  color: $verde;
  padding: 15px 25px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton:hover {
  background-color: #4fc3f7;
  transform: scale(1.05);
}

.ul{
  color: #2D2D2D;
  list-style: none;
  font-size: 2em;
  padding: 15px 15px;
  line-height: 2;
}

.listado{
  display: flex;
  margin: 150px;
  gap: 800px;
}

.accordion-body{
  color: black;
  font-size: 1.2em;
}

//modificaciones de BS 
.lineal{
  font-family: $blackops;
  color: #4A8FA1;
  background-color: #D9F3F5;
  padding: 15px 15px;
}

.letra{
  color: black;
   font-size: 1.8em;
}


.orden{
  display: grid;
  grid-template-areas:

  "- - -"

  "cucurucho imagen1 imagen2"

  "cucurucho imagen3 imagen4"
  ;


  grid-template-columns: 25% 30%;


  grid-template-rows:0px 600px 250px;
}

.ordena2{
  display: grid;
  grid-template-areas:

  "- - -"

  "cucurucho imagen1 imagen2"

  "cucurucho imagen3 imagen4"
  ;


  grid-template-columns: 25% 30%;


  grid-template-rows:600px 600px 250px;
}