@use "variables" as*;

main {
  background-color: $celeste;
  padding: 20px 10px;
  text-align: center;
} 

.subtitulo {
  @extend .ayudin;
  @extend .verdes;
}

h1{
  @extend .ayudin;
  @extend .verdes;
  font-size: 1.8em;
}


.sabores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.boton {
  background-color: #82d4fa;
  color: $verde;
  padding: 15px 25px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton:hover {
  background-color: #4fc3f7;
  transform: scale(1.05);
}

.ul{
  color: #2D2D2D;
  list-style: none;
  font-size: 2em;
  padding: 15px 15px;
  line-height: 2;
}

.listado{
  flex-wrap: wrap;
  justify-content: space-between;}

.accordion-body{
  color: black;
  font-size: 1.2em;
}

//modificaciones de BS 
.lineal{
  font-family: $blackops;
  color: #4A8FA1;
  background-color: #D9F3F5;
  padding: 15px 15px;
}

.letra{
  color: black;
   font-size: 1.8em;
}


.empty {
  grid-area: unset;
}

.carousel-item{
  width: 400px;
}

.preenvasados {
  display: flex;
  justify-content: center;
  gap: 30px;               
  flex-wrap: wrap;   
}

.item {
  text-align: center;
}

.item img {
  border: 3px solid #19a0ff;
  border-radius: 10px;
  object-fit: cover;
}

.item ul {
  list-style-type: disc;
  margin-top: 10px;
  padding-left: 20px;
  text-align: left;
  font-size: 14px;
}



.grid-tamanos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  margin: 40px;
}

.item p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 50px;
}

.negro{
  width: 115%;
}

.eleccion{
  display:flex;
  justify-content: space-evenly;
  padding: 10px;
}

.elija{
  width: 30%;
  border:3px solid #4fc3f7;
}

.juan{
  display: flex;
  justify-content: space-around;
  width: 85%;
}




















/* .grid-tamaños{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "a b c"
    "a d e"
    "f . .";
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.t{
  width: 80%;
  display: flex;
  justify-content: start;
  border: 10px inset rgb(5, 142, 183);
}

.cr{
  width:80%;
}

.ba{
  width: 80%;
  display: block;
  justify-content: flex-start;
  margin-left:-60px;
  border: 10px inset rgb(5, 142, 183);
}

.tam{
  font-family: $blackops;
  width: 50px;
  text-align: center;
} */